---
// Assets
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Data
import { getPostsByCategory } from "@/lib/data";
// Integrations
import readingTime from "reading-time";

interface Props {
  category: string;
  categoryTitle: string;
  limit?: number;
}

const { category, categoryTitle, limit = 4 } = Astro.props;

const categoryPosts = await getPostsByCategory(category);
const posts = categoryPosts.slice(0, limit);
const categoryPageUrl = `/blog/cat/${category}`;
---

<section>
  <Wrapper variant="standard" class="pt-32 pb-12">
    <div class="flex flex-wrap items-center justify-between w-full gap-4">
      <Text tag="p" variant="textSM" class="font-medium uppercase">
        {categoryTitle}
      </Text>
      <Button
        isLink
        size="xs"
        variant="default"
        href={categoryPageUrl}
        class="w-auto text-center"
        aria-label={`Read all ${categoryTitle} articles`}
        title={`Read all ${categoryTitle} articles`}
      >
         Full Collection
      </Button>
    </div>
    <div
      class="items-start pt-4 mt-4 border-t border-black grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4"
    >
      {
        posts.length > 0 ? (
          posts.map((post) => {
            const pubDate = new Date(post.data.pubDate).toLocaleDateString(
              "en-US",
              {
                year: "numeric",
                month: "long",
                day: "2-digit",
              }
            );
            const timeToRead = readingTime(post.plainText || "");

            return (
              <article class="relative">
                <a
                  href={`/blog/${post.slug}`}
                  title={post.data.title}
                  aria-label={`Read more about ${post.data.title}`}
                  class="absolute inset-0"
                />

                {post.data.image.url && (
                  <img
                    src={post.data.image.url as string}
                    loading="eager"
                    decoding="async"
                    class="object-cover aspect-square w-full"
                    alt={post.data.image.alt || post.data.title}
                  />
                )}
                <div class="mt-4">
                  <Text tag="p" variant="textXS" class="uppercase text-base-400">
                    <time datetime={pubDate}>{pubDate}</time>
                    <span>·</span>
                    <span>{timeToRead.text}</span>
                  </Text>
                  <Text tag="h2" variant="textSM" class="mt-4 font-medium">
                    {post.data.title}
                  </Text>
                </div>
              </article>
            );
          })
        ) : (
          <Text tag="p" variant="textBase" class="text-base-600">
            No posts found in this category.
          </Text>
        )
      }
    </div>
  </Wrapper>
</section>
