---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
const { url, name, image, role } = {
  url: "/team/" + Astro.props.post.slug,
  name: Astro.props.post.data.name,
  role: Astro.props.post.data.role,
  image: Astro.props.post.data.image.url,
};
---

<div
  class="relative group bg-white flex flex-col overflow-hidden h-full "
>
  <a
    href={url}
    title={`View profile for ${name}`}
    aria-label={`View profile for ${name}`}
    class="absolute inset-0 z-10"></a>

  <Image
    width="1000"
    height="1000"
    src={image}
    alt={name}
    class="object-cover object-center w-full aspect-9/12"
  />

  <div class="p-8">
    <Text tag="h3" variant="displaySM" class="text-base-900 font-display">
      {name}
    </Text>
    <Text tag="p" variant="textBase" class="text-base-600 mt-4 text-pretty">
      {role}
    </Text>
  </div>
</div>
