---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
// Utils
import { getIndustryDisplayName } from "@/lib/industries";
// Content
const { title, url, image, industry, client, tagline } = {
  url: "/our-work/" + Astro.props.post.slug,
  title: Astro.props.post.data.title,
  image: Astro.props.post.data.image.url,
  industry: Astro.props.post.data.industry,
  client: Astro.props.post.data.client,
  tagline: Astro.props.post.data.tagline,
};
---

<article class="relative group flex flex-col overflow-hidden">
  <a
    href={url}
    class="block relative overflow-hidden"
    title={`View case study: ${title}`}
  >
    <Image
      src={image}
      alt={title}
      width={600}
      height={500}
      class="w-full aspect-[6/5] object-cover object-center group-hover:scale-105 transition-transform"
    />
  </a>

  <div class="p-6 flex flex-col gap-3">
    <a href={url} class="relative z-10">
      <Text
        tag="h3"
        variant="displayXL"
        class="text-base-900 dark:text-white font-medium tracking-tighter"
      >
        {title}
      </Text>
    </a>

    <Text
      tag="p"
      variant="textBase"
      class="text-base-600 dark:text-base-300"
    >
      {client}
    </Text>

    {tagline && (
      <Text
        tag="p"
        variant="textBase"
        class="text-base-500 dark:text-base-400 italic"
      >
        {tagline}
      </Text>
    )}

    <Text
      tag="p"
      variant="textSM"
      class="text-base-600 dark:text-base-300"
    >
      {getIndustryDisplayName(industry)}
    </Text>
  </div>
</article>
