---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
// Utils
import { getIndustryDisplayName } from "@/lib/industries";
import Kicker from "@/components/fundations/elements/Kicker.astro";

// Content
const post = Astro.props.post;
if (!post) {
  throw new Error("SingleWorkCard requires a 'post' prop");
}

const { url, image, industry, client, tagline } = {
  url: "/our-work/" + post.slug,
  image: post.data.image.url,
  industry: post.data.industry,
  client: post.data.client,
  tagline: post.data.tagline,
};
---

<article class="relative group flex flex-col overflow-hidden">
  <a
    href={url}
    class="block relative overflow-hidden"
    title={`View case study: ${client}`}
  >
    <Image
      src={image}
      alt={client}
      width={600}
      height={500}
      class="w-full aspect-[6/5] object-cover object-center group-hover:scale-105 transition-transform"
    />
  </a>

  <div class="p-6 flex flex-col gap-3">

        {tagline && (
      <Text
        tag="p"
        variant="textBase"
        class="text-base-500 dark:text-base-400 italic"
      >
        {tagline}
      </Text>
    )}

    <a href={url} class="relative z-10">
      <Text
        tag="h4"
        variant="displayMD"
        class="text-base-900 text-balance font-medium tracking-tight font-display lg:col-span-2 lg:-mt-2"
      >
        {client}
      </Text>
    </a>
      <Kicker variant="default">{getIndustryDisplayName(industry)}</Kicker>

  </div>
</article>
