---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
// Content
const post = Astro.props.post;
const { title, excerpt, date, category, url } = {
  url: "/blog/" + post.slug,
  title: post.data.title,
  excerpt: post.data.description || post.data.excerpt,
  date: post.data.pubDate.toLocaleDateString("en-US", {
    year: "numeric",
    month: "short",
    day: "numeric",
  }),
  category: post.data.category || (post.data.categories?.[0]?.name || "Press Release"),
};
---

<article class="relative bg-base-50 p-8 flex flex-col">
  <a
    href={url}
    title={`Read press release: ${title}`}
    aria-label={`Read press release: ${title}`}
    class="absolute inset-0 z-10"></a>
  <div class="flex items-center gap-2 text-xs text-base-600">
    <span>{date}</span>
    <span aria-hidden="true">•</span>
    <span>
      {category}
    </span>
  </div>
  <Text tag="h3" variant="displaySM" class="text-accent-800 font-display mt-12">
    {title}
  </Text>
  <Text
    tag="p"
    variant="textBase"
    class="text-base-600 leading-relaxed line-clamp-3"
  >
    {excerpt}
  </Text>
</article>
