---
// Assets
import { Image } from "astro:assets";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Kicker from "@/components/fundations/elements/Kicker.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import SingleWorkCard from "@/components/cases/SingleWorkCard.astro";
// Data
import { getOurWork } from "@/lib/data";
const allOurWork = await getOurWork();
// Get the single work slug from the URL
const singleWorkSlug = Astro.url.pathname.split("/").filter(Boolean).pop();
// Filter related single works by industry (excluding current one)
const { frontmatter } = Astro.props;
const relatedSingleWorks = allOurWork
  .filter(
    (singleWork) =>
      singleWork.data.industry === frontmatter.industry &&
      singleWork.slug !== singleWorkSlug
  )
  .slice(0, 3);
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-12">
      <div class="max-w-2xl">
        <Kicker variant="default">
          {frontmatter.client}
          <span aria-hidden="true">•</span>
          {frontmatter.industry}
        </Kicker>
        <Text
          tag="h1"
          variant="displayLG"
          class="text-base-900 text-balance font-medium tracking-tight mt-8 font-display"
        >
          {frontmatter.title}
        </Text>
      </div>
    </Wrapper>
    <Wrapper variant="paddingLess">
      <Image
        alt={frontmatter.image.alt}
        src={frontmatter.image.url}
        width={800}
        height={600}
        loading="lazy"
        decoding="async"
        class="w-full max-h-150 object-cover object-top"
      />
    </Wrapper>
    <Wrapper variant="standard" class="py-12 lg:py-24">
      <div class="grid grid-cols-1 lg:grid-cols-4 gap-8">
        <div>
          <div class="flex flex-col gap-8 lg:sticky lg:top-25">
            <div>
              <Text
                tag="h2"
                variant="displayMD"
                class="text-base-900 text-balance font-medium tracking-tight font-display"
              >
                Services Provided
              </Text>
              <ul role="list" class="mt-8 list-none">
                {
                  frontmatter.services.map((service) => (
                    <li>
                      <Text
                        tag="p"
                        variant="textBase"
                        class="text-base-600 lg:text-balance"
                      >
                        - {service}
                      </Text>
                    </li>
                  ))
                }
              </ul>
            </div>
            <div>
              <Text
                tag="h2"
                variant="displayMD"
                class="text-base-900 text-balance font-medium tracking-tight font-display"
              >
                Results Achieved
              </Text>
              <div class="flex flex-col gap-4 mt-8">
                {
                  frontmatter.results.map((result) => (
                    <div>
                      <Text
                        tag="p"
                        variant="textBase"
                        class="text-base-900 font-medium"
                      >
                        {result.label}
                      </Text>
                      <Text
                        tag="p"
                        variant="textBase"
                        class="text-base-600 lg:text-balance"
                      >
                        {result.value}
                      </Text>
                    </div>
                  ))
                }
              </div>
            </div>
          </div>
        </div>
        <Wrapper variant="prose" class="lg:col-span-2">
          <slot />
        </Wrapper>
        <div>
          <div class="flex flex-col gap-8 lg:sticky lg:top-25">
            <div>
              <Text
                tag="h3"
                variant="displaySM"
                class="text-base-900 font-display"
              >
                The Challenge
              </Text>
              <Text
                tag="p"
                variant="textBase"
                class="text-base-600 text-pretty mt-2"
              >
                {frontmatter.challenge}
              </Text>
            </div>
            <div>
              <Text
                tag="h3"
                variant="displaySM"
                class="text-base-900 font-display"
              >
                Our Solution
              </Text>
              <Text
                tag="p"
                variant="textBase"
                class="text-base-600 text-pretty mt-2"
              >
                {frontmatter.solution}
              </Text>
            </div>
          </div>
        </div>
      </div>
      {
        frontmatter.testimonial && (
          <div class="bg-base-50 p-8 lg:p-12 flex flex-col h-full justify-between gap-8 mt-12">
            <blockquote class="flex gap-6">
              <Text tag="p" variant="displayLG" class="text-base-900 font-display">
                "{frontmatter.testimonial.quote}"
              </Text>
            </blockquote>
            <footer class="mt-4 text-right">
              <Text tag="p" variant="textBase" class="text-base-700 font-medium">
                {frontmatter.testimonial.author}
              </Text>
              <Text tag="p" variant="textSM" class="text-base-500">
                {frontmatter.testimonial.role}
              </Text>
            </footer>
          </div>
        )
      }
    </Wrapper>
  </section>
  {
    relatedSingleWorks.length > 0 && (
      <section>
        <Wrapper variant="standard" class="py-12">
          <div>
            <Text
              tag="h2"
              variant="displayMD"
              class="text-base-900 text-balance font-medium tracking-tight  font-display"
            >
              Related Case Studies
            </Text>
            <Text
              tag="p"
              variant="textBase"
              class="text-base-600 lg:text-balance mt-4"
            >
              More success stories from the {frontmatter.industry} industry
            </Text>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mt-4 p-8 lg:p-12 bg-base-50">
              {relatedSingleWorks.map((singleWork) => (
                <SingleWorkCard post={singleWork} />
              ))}
            </div>
          </div>
        </Wrapper>
      </section>
    )
  }
</BaseLayout>
