---
// Assets
import { Image } from "astro:assets";

// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Kicker from "@/components/fundations/elements/Kicker.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";

// Components
import ServiceCard from "@/components/services/ServiceCard.astro";
// Data
import { getServices } from "@/lib/data";
const allServices = await getServices();
// Get the service slug from the URL
const serviceSlug = Astro.url.pathname.split("/").filter(Boolean).pop();
// Filter related services by category (excluding current one)
const { frontmatter } = Astro.props;
const relatedServices = allServices
  .filter(
    (service) =>
      service.data.category === frontmatter.category &&
      service.slug !== serviceSlug
  )
  .slice(0, 3); // Limit to 3 related services
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-12 relative">
      <div class="max-w-2xl">
        <Kicker variant="default">
          {frontmatter.category}
        </Kicker>
        <Text
          tag="h1"
          variant="displayLG"
          class="text-base-900 text-balance font-medium tracking-tight mt-8 font-display"
        >
          {frontmatter.title}
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="text-base-600 lg:text-balance mt-4"
        >
          {frontmatter.summary}
        </Text>
      </div>
    </Wrapper>
  </section>
  <Wrapper variant="paddingLess">
    <Image
      alt={frontmatter.image.alt}
      src={frontmatter.image.url}
      width={800}
      height={600}
      loading="lazy"
      decoding="async"
      class="w-full max-h-150 object-cover object-top"
    />
  </Wrapper>

  <Wrapper class="py-12 lg:py-24">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
      <div>
        <div class="flex flex-col gap-8 lg:sticky lg:top-25">
          <div>
            <Text
              tag="h3"
              variant="displaySM"
              class="text-base-900 font-display"
            >
              Key Benefits
            </Text>
            <ul role="list" class="list-none space-y-1 mt-4">
              {
                frontmatter.features.map((feature) => (
                  <li>
                    <Text
                      tag="p"
                      variant="textBase"
                      class="text-base-600 text-pretty"
                    >
                      - {feature}
                    </Text>
                  </li>
                ))
              }
            </ul>
          </div>
          <div>
            <Text
              tag="h3"
              variant="displaySM"
              class="text-base-900 font-display"
            >
              Expected Outcomes
            </Text>
            <ul role="list" class="list-none space-y-1 mt-4">
              {
                frontmatter.outcomes.map((outcome) => (
                  <li>
                    <Text
                      tag="p"
                      variant="textBase"
                      class="text-base-600  text-pretty"
                    >
                      - {outcome}
                    </Text>
                  </li>
                ))
              }
            </ul>
          </div>
          <div>
            <Text
              tag="h3"
              variant="displaySM"
              class="text-base-900 font-display"
            >
              Industries We Serve
            </Text>
            <div class="mt-4">
              {
                frontmatter.industries.map((industry) => (
                  <Text
                    tag="p"
                    variant="textBase"
                    class="text-base-600  text-pretty"
                  >
                    - {industry}
                  </Text>
                ))
              }
            </div>
          </div>
        </div>
      </div>
      <Wrapper variant="prose" class="lg:col-span-2">
        <slot />
      </Wrapper>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-3 mt-12 lg:mt-24">
      <div class="bg-base-50 p-8 relative flex flex-col justify-between h-full">
        <div class="space-y-4">
          <Kicker variant="default">Pricing</Kicker>
          <Text tag="p" variant="textLG" class="text-base-700 font-meidum mt-8">
            {frontmatter.pricing.note}
          </Text>
          <div class="flex items-end gap-2 mt-4 pt-4 border-t border-base-100">
            <Text
              tag="span"
              variant="displayLG"
              class="text-base-900 font-display"
            >
              {frontmatter.pricing.startingPrice}
            </Text>
            <Text tag="span" variant="textBase" class="text-base-700">
              /{frontmatter.pricing.pricingModel}
            </Text>
          </div>
        </div>
      </div>
      <Image
        alt={frontmatter.image.alt}
        src={frontmatter.image.url}
        width={800}
        height={600}
        loading="lazy"
        decoding="async"
        class="w-full h-full object-cover object-top lg:col-span-2"
      />
    </div>
  </Wrapper>
  {
    relatedServices.length > 0 && (
      <section>
        <Wrapper variant="standard" class="py-12">
          <div>
            <Text
              tag="h2"
              variant="displayMD"
              class="text-base-900 text-balance font-medium tracking-tight  font-display"
            >
              Related Services
            </Text>
            <Text
              tag="p"
              variant="textBase"
              class="text-base-600 lg:text-balance mt-4"
            >
              More {frontmatter.category.toLowerCase()} services
            </Text>
          </div>
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mt-4 p-8 lg:p-12 bg-base-50">
            {relatedServices.map((service) => (
              <ServiceCard service={service} />
            ))}
          </div>
        </Wrapper>
      </section>
    )
  }
</BaseLayout>
